{% comment %} <div>
<img src="{{ item.image | image_url: width: 200 }}" alt="">
<h2>{{ item.title }}</h2>
<p>
{{ item.final_line_price | money }}
</p>
<input name="updates[]" value="{{ item.quantity  }}">
<a href="{{ item.url_to_remove  }}">Remove</a>
</div> {% endcomment %}
<div class="cart-item" data-key="{{ item.key }}">
  <div class="cart-item-image">
    <a href="{{ item.url }}">
      <img src="{{ item.image | image_url: width: width }}" alt="">
    </a>
  </div>

  <div class="cart-item-product">

    <div class="product-info">
      <h3 class="product-title">
        {{ item.product.title }}
      </h3>
      <div class="cart-item-total">
        <span class="line-item-price">{{ item.final_line_price | money }}</span>
      </div>
    </div>

    {% if item.variant.title != "Default Title" %}
      <p>
        {{ item.variant.title }}

      </p>
    {% endif %}

    <div class="cart-item-quantity">
      <div class="cart-quantity-selector">
        <button type="button" class="decrement">
          <i class="fi-xnluxl-minus"></i>
        </button>
        <input
          type="text"
          name="updates[]"
          value="{{ item.quantity }}">
        <button type="button" class="increment">
          <i class="fi-xnluxl-plus"></i>
        </button>
      </div>
      <div class="cart-item-remove">
        <a class="remove-btn" href="{{ item.url_to_remove }}">
          <i class="fi-xnluxl-trash"></i>
        </a>
      </div>
    </div>


  </div>
</div>