<div class="filters">
  <div class="btn-container">
    <button class="filters-btn">
      FILTERS
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <select class="sort-dropdown" id="sort-by">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
      {% for option in collection.sort_options %}
      {% unless option.value contains 'title-ascending' or option.value contains 'title-descending' or option.value
      contains 'created-descending' or option.value contains 'created-ascending' %}
      <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
        {{ option.name }}
      </option>
      {% endunless %}
      {% endfor %}
    </select>
  </div>
  <div class="filter-sort-container closed">
    <form class="filter-form">
      <div class="filter-group-wrapper">
        {%- for filter in collection.filters -%}
          <div class="filter-group">
            <div class="filter-group-display">
              <div class="filter-group-display__header">
                <div class="filter-name">
                  <span>{{ filter.label }}</span>
                  {%- if filter.active_values.size > 0 -%}
                    <span class="active-number">({{ filter.active_values.size }})</span>
                  {%- endif -%}
                </div>
              </div>
              {%- case filter.type -%}
                {%- when 'boolean' or 'list' -%}
                  <ul class="filter-group-display__list">
                    {%- for filter_value in filter.values -%}
                      <li class="filter-group-display__list-item">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                          <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active -%}checked{%- endif -%} {% if filter_value.count==0 and filter_value.active==false -%}disabled{%- endif -%}>{{ filter_value.label }}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- when 'price_range' -%}
                  <div class="filter-group-display__price-range">
                    <div class="filter-group-display__price-range-from">
                      <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                      <span>{{ cart.currency.symbol }}</span>
                      <input name="{{ filter.min_value.param_name }}" id="Filter-{{ filter.min_value.param_name }}" {%- if filter.min_value.value -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}" {%- endif -%}type="number" placeholder="0" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                  </div>
                  <div class="filter-group-display__price-range-to">
                    <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                    <span>{{ cart.currency.symbol }}</span>
                    <input name="{{ filter.max_value.param_name }}" id="Filter-{{ filter.max_value.param_name }}" {%- if filter.max_value.value -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}" {%- endif -%}type="number" placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                  </div>
                </div>
              {%- endcase -%}
            </div>
          </div> 
        {%- endfor -%}
      </div>
      <div class="active-filters">
        <div class="filter-group-display__submit">
          <input type="submit" value="Apply filters">
          <div class="clear-wrapper">
            <p>or </p>
            <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
              class="active-filters__clear underline-anchor-tag">Clear all</a>
          </div>
        </div>
        {% comment %} {%- for filter in collection.filters -%}
          {%- if filter.type == "price_range" -%}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                {{ min_value | money }} - {{ max_value | money }} X
              </a>
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                  <i class="fi-xnluxl-times"></i>{{ filter_value.label }}
                </a>
              {%- endfor -%}
            {%- endif- %}
          {%- endif- %}
        {%- endfor -%} {% endcomment %}
      </div>
    </form>
  </div>
</div>




<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters

  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }
  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>