<div class="landing-wrapper">
  <div class="landing-container">
    <div class="intro-container">
      <div class="text-container">
        <div class="h2-container">
          <h2 class="reveal fade-top">
            Hand crafted ceramics
          </h2>
        </div>
        <div class="text-link-container">
          <div class="p-container">
            <p class="reveal fade-right">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
            </p>
          </div>
          <div class="link-container">
            <a class="underline-anchor-tag reveal fade-bottom" href="/collections/all">View all products</a>
          </div>
        </div>
      </div>
      <img class="reveal fade-in" src="{{ 'landing-intro.jpg' | asset_img_url: '1920x' }}">
    </div>
    <div class="item-showcase one">
      <div class="colour-block"></div>
      <div class="img-container">
        <img class="reveal fade-in" src="{{ 'landing-item1.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="text-container">
        <h2 class="reveal fade-top">
          Created in a small town in southern Iceland
        </h2>
        <p class="reveal fade-right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container">
          <a class="underline-anchor-tag reveal fade-bottom" href="/collections/coffee-tea-cups">Shop coffee & tea cups</a>
        </div>
      </div>
    </div>
    <div class="item-showcase two">
      <div class="text-container">
        <h2 class="reveal fade-top">
          Inspired by the surrounding nature
        </h2>
        <p class="reveal fade-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container">
          <a class="underline-anchor-tag reveal fade-bottom" href="/collections/plates">Shop plates</a>
        </div>
      </div>
      <div class="img-container">
        <img class="reveal fade-in" src="{{ 'landing-item2.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="colour-block"></div>
    </div>
    <div class="item-showcase three">
      <div class="colour-block"></div>
      <div class="img-container">
        <img class="reveal fade-in" src="{{ 'landing-item3.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="text-container">
        <h2 class="reveal fade-top">
          Strongly influenced by the Japanese masters
        </h2>
        <p class="reveal fade-right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container">
          <a class="underline-anchor-tag reveal fade-bottom" href="/collections/bowls">Shop bowls</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-creator-container">
    <img src="{{ 'landing-about4.jpg' | asset_img_url: '1920x' }}">
    <div class="inner-container">
      <div class="text-container">
        <h2 class="reveal fade-top">
          Created with emphasis on quality
        </h2>
        <p class="reveal fade-right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container reveal fade-bottom">
          <a class="underline-anchor-tag" href="/pages/about-me">More about me</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ 'landing-page.js' | asset_url | script_tag }}