<div class="landing-wrapper">
  <div class="landing-container">
    <div class="intro-container">
      <div class="text-container">
        <div class="h2-container">
          <h2>
            Hand crafted ceramics
          </h2>
        </div>
        <div class="text-link-container">
          <div class="p-container">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
            </p>
          </div>
          <div class="link-container">
            <a class="underline-anchor-tag" href="/collections/all">View all products</a>
          </div>
        </div>
      </div>
      <img src="{{ 'landing-intro.jpg' | asset_img_url: '1920x' }}">
    </div>
    <div class="item-showcase one">
      <div class="colour-block"></div>
      <div class="img-container">
        <img src="{{ 'landing-item1.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="text-container">
        <h2>
          Created in a small town in southern Iceland
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container">
          <a class="underline-anchor-tag" href="/collections/coffee-tea-cups">Shop coffee & tea cups</a>
        </div>
      </div>
    </div>
    <div class="item-showcase two">
      <div class="text-container">
        <h2>
          Inspired by the surrounding nature
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
      </div>
      <div class="img-container">
        <img src="{{ 'landing-item2.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="colour-block"></div>
    </div>
    <div class="item-showcase three">
      <div class="colour-block"></div>
      <div class="img-container">
        <img src="{{ 'landing-item3.jpg' | asset_img_url: '1920x' }}">
      </div>
      <div class="text-container">
        <h2>
          Strongly influenced by the Japanese masters
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
      </div>
    </div>
  </div>
  <div class="about-creator-container">
    <img src="{{ 'landing-about4.jpg' | asset_img_url: '1920x' }}">
    <div class="inner-container">
      <div class="text-container">
        <h2>
          Created with emphasis on quality
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero, veritatis, voluptatem perferendis vitae, asperiores aliquid reprehenderit obcaecati voluptatum aut qui placeat nesciunt voluptas voluptate molestiae maxime repellendus non! Quod!
        </p>
        <div class="link-container">
          <a class="underline-anchor-tag" href="/pages/about-me">More about me</a>
        </div>
      </div>
      {% comment %} <div class="img-container">
      </div> {% endcomment %}
    </div>
  </div>
</div>