<div class="carousel-container">
  <div class="slide-button-container">
    <button class="back-button">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="forward-button">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <div class="slide-img-container">
    <div class="slide1 slide">
      <img src="{{ 'landing-mugs-from-above1.jpg' | asset_img_url: '1920x' }}">
    </div>
    <div class="slide3 slide"><img src="{{ 'landing-pottery-and-oranges1.jpg' | asset_img_url: '1920x' }}" alt=""></div>
    <div class="slide2 slide">
      <img src="{{ 'landing-pottery-mix1.jpg' | asset_img_url: '1920x' }}">
    </div>
    <div class="slide4 slide">
      <img src="{{ 'landing-mugs-lined-up1.jpg' | asset_img_url: '1920x' }}">
    </div>
  </div>
  <div class="carousel-control-buttons">
    <button class="slide1-button active"></button>
    <button class="slide2-button"></button>
    <button class="slide3-button"></button>
    <button class="slide4-button"></button>
  </div>
</div>

{{ 'landing-carousel.js' | asset_url | script_tag }}