{% for result in search.results %}

  <div>
    <a href="{{ result.url }}">{{ result.title }}</a>
    <img src="{{ result.image | image_url: width: 200 }}" alt="">
    <h2>{{ result.title }}</h2>
    <p>
      {{ result.final_line_price | money }}
    </p>
  </div>
  <p>
    {{ result.object_type }}
  </p>
{% endfor %}