<div class="product-item">
  <a href="{{ product.url }}">
    <img
      src="{{ product.featured_image | image_url: width: 1920x }}"
      alt="{{ product.title }}"
      loading="lazy" />
    <div class="product-text">
      <h4>
        {{ product.title }}
      </h4>
      <p>
        {{ product.price | money }}
      </p>
    </div>
  </a>
</div>